:root {
  --font-default: system-ui;
  --font-fallback-1: Avenir;
  --font-fallback-2: Helvetica;
  --font-sans: sans-serif;

  --font-stack: var(--font-default) var(--font-fallback-1) var(--font-fallback-2) var(--font-serif);
  --font-mono: Roboto;
  --font-pop: Poppins;

  --fs-base: 16px;
  
  --fs-fine: calc(var(--fs-tiny) / 2); /** 0.125em ***/
  --fs-tiny: calc(var(--fs-sm) / 2); /** 0.25em **/
  --fs-sm: calc(var(--fs-md) / 2); /** 0.5em **/
  --fs-md: 1em;
  --fs-lg: calc(var(--fs-md) * 2)); /** 2em **/
  --fs-xl: calc(var(--fs-lg) * 2)); /** 4em **/

  /*** FONT SIZES ***/  
  --fs-btn: clamp(0.8rem 1.1em 1.2rem);
  --fs-text: clamp(0.5rem 1em 1.8rem);
  --fs-link: clamp(1rem 1.4em 2rem);
  --fs-head: clamp(2.5rem 3em 4rem);

}
