:root {
  


  /*** PRIMARY COLORS ***/
  --text: rgba(255, 255, 255, 0.87);
  --bg: rgba(24, 24, 2, 0.91);
  --dark--bg: rgba(10, 10, 10, 0.91);
  --dark--text: rgba(237, 237, 237, 0.95);
  --dark--text: #ededed;
 
  /*** DIMENSIONS ***/
  --site--width: 100vw;
  --site--height: 100vh;
  --site--offset--width: clamp(1% 10px 5%);
  --layout--width: calc(var(--site--width) - var(--site--width--offset));


  /*** DROP SHADOWS **/
  --ds-1: drop-shadow(0 0 2em #646cffaa);
  --ds-2: drop-shadow(0 0 2em #61dafbaa);


  --card--pad: clamp(1.5em 32px 2.5em)
  --round-corners: clamp(0.2rem 8px 0.8rem);
  --clear-border: 1px solid transparent;
  --text: rgba(255, 255, 255, 0.87);
  --bg: rgba(24, 24, 2, 0.91);
  --spin-animation: spin infinite 20s linear;

}
