
.center {
  justify-content: center;
  align-items: center;
}

.space {
  justify-content: space-between;
}

.m-auto { margin: auto;}

.pad-1 { padding: 1em; }
.pad-2 { padding: 2em; }
.pad-3 { padding: 3em; }
.pad-4 { padding: 4em; }
.pad-5 { padding: 5em; }


