.header {
  --header--width: calc(var(--site--width) - var(--site--offset--width));
  width: var(--header--width);
}

.sidebar {
  width: 150px;
  height: 100%;
}

.outlet {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  height: 100%;

}

.footer {
  --footer--width: calc(var(--site--width) - var(--site--offset--width));
  width: var(--footer--width);
}
