@import "../style/_variables.css";

.page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100%;
  height: 100%;
}

.login {
  --login--border: 6px double white;
  --login--pad: 0.5rem;
  extends: .column;
  border-radius: var(--round-corners);
  padding: var(--login--pad);
  border: var(--login--border);
  background: inherit;
  display: flex;
  flex-direction: column;
  & input {
  
    margin-top: 0.25em;
    border-radius: var(--round-corners);
  }
}

.welcome {
    --pad-x: 0.5em;
    --pad-y: 2em;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: var(--pad-x) var(--pad-y);
 
  & .text {
    --fs-min: clamp(2em, 36px, 2.5em);
    --fs-mid: clamp(2.5em, 60px, 3em);
    --fs-max: clamp(3em, 64px, 3.5em);

    --size: clamp(var(--fs-min), var(--fs-mid), var(--fs-max));

    --decoration: underline;
    --text: inherit;
    --weight: 200;
    --line: 1.2;

    text-decoration: var(--decoration);
    font-weight: var(--weight);
    line-height: var(--line);
    font-size: var(--size);
    color: var(--text);
}
