
#login {
  --login--border: 6px double white;
  --login--pad: 0.5rem;
  extends: .column;
  border-radius: var(--round-corners);
  padding: var(--login--pad);
  border: var(--login--border);
  background: inherit;
  display: flex;
  flex-direction: column;
  & .field {  
    margin-top: 0.6rem;
    border-radius: var(--round-corners);
    color: var(--clr--black--100);
  }
  & button {
    margin-top: 1vh;
    background: var(--clr--gray--080);
    color: var(--clr--white--090);
  }
}

